<div class="account_profile">
  <% rgb = colorize(current_user.first_name) %>
  <div class="account_profile_image" style="background-color: rgba(<%= rgb[0] %>,<%= rgb[1] %>,<%= rgb[2] %>,1)"><%= current_user.first_name.first %></div>
  <div class="account_profile_info">
    <h1><%= "#{current_user.first_name}" %></h1>
  </div>
</div>