<% available = AvailableMenuItem.where(menu_item_id: @menu_item.id) %>

<h1><%= @menu_item.name %></h1>

<%= link_to "Back to All Items from #{@menu_item.vendor.name}", vendor_path(@menu_item.vendor.id) %>
<ul>
  <% if available.empty? %>
    <h2>This item is not currently available.</h2>
  <% else %>
    <% available.each do |item| %>
      <% if item.ordered_items.empty? %>
        <li><%= item.date.strftime("%A, %b %d, %Y") %> <%= link_to "Remove Availability", available_menu_item_path(item.id, {menu_item: @menu_item.id}), method: 'delete' %></li>
      <% else %>
        <div><%= item.date.strftime("%A, %b %d, %Y") %> Item has been ordered. You cannot delete.</div>
      <% end %>
    <% end %>
  <% end %>
</ul>