<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">
      <%= render "schools/school_profile_card", school: @menu_item.vendor.school %>

      <h1 class="card_title"><%= link_to "#{@menu_item.vendor.name}", vendor_path(@menu_item.vendor) %></h1>
    </div>

    <div class="helpful_links">
      <ul>
        <li><%= link_to "View All Menu Items", vendor_path(@menu_item.vendor) %></li>
      </ul>
    </div>
    <div class="card_padding"
    <h1><%= @menu_item.name %></h1>

    <% settings = { owner: @menu_item,
                    events: @menu_item.available_menu_items,
                    begin_date: Date.today.beginning_of_month,
                    end_date: Date.today.end_of_month,
                    style: 'simple' } %>

    <%= render partial: 'shared/calendar', locals: { calendar: settings } %>

  </div>
</div>