<header>
  <div class="user-bar">
    <% if user_signed_in? %>
      <div class="menu-icon"><i class="fa fa-bars"></i></div>
      <div class="title"><%= link_to 'Lunchpad', root_path %></div>
    <ul>
      <li>Logged in as <%= "#{current_user.first_name} #{current_user.last_name}" %></li>
    </ul>
    <% else %>
      <div class="login-title">Lunchpad</div>
      <%= render 'shared/login' %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="shadows">
      <div id="dropdown" class="dropdown-nav">
        <ul>
          <%= link_to new_account_path do %>
            <div class="dropdown-link">
              <i class="fa fa-plus fa-fw"></i>
              <li>&nbspAdd Lunchbox</li>
            </div>
          <% end %>
          <%= link_to root_path do %>
            <div class="dropdown-link">
              <i class="fa fa-usd fa-fw"></i>
              <li>&nbspPayments</li>
            </div>
          <% end %>
          <%= link_to root_path do %>
            <div class="dropdown-link">
              <i class="fa fa-question fa-fw"></i>
              <li>&nbspHelp</li>
            </div>
          <% end %>
          <%= link_to root_path do %>
            <div class="dropdown-link">
              <i class="fa fa-cog fa-fw"></i>
              <li>&nbspSettings</li>
            </div>
          <% end %>
          <%= link_to destroy_user_session_path, method: 'delete' do %>
            <div class="dropdown-link">
              <i class="fa fa-power-off fa-fw"></i>
              <li>&nbspSign Out</li>
            </div>
          <% end %>
        </ul>
    <% if current_user.has_role? :admin, :any %>
      <% school = (School.with_role :admin, current_user).first %>
      <div class="dropdown-nav admin-nav">
        <ul>
          <%= link_to root_path do %>
            <div class="dropdown-link admin-head">
              <li><i class="fa fa-cogs fa-fw"></i>&nbspAdmin Tools</li>
              <li class="school-name"><%= school.name %></li>
            </div>
          <% end %>
          <%= link_to order_school_path(school, {filter: {date: Date.today}}) do %>
            <div class="dropdown-link">
              <i class="fa fa-bar-chart-o fa-fw"></i>
              <li>&nbspLunch Reports</li>
            </div>
          <% end %>
          <%= link_to vendors_path(school) do %>
            <div class="dropdown-link">
              <i class="fa fa-truck fa-fw"></i>
              <li>&nbspVendors/Menus</li>
            </div>
          <% end %>
          <%= link_to accounts_school_path(school) do %>
            <div class="dropdown-link">
              <i class="fa fa-user fa-fw"></i>
              <li>&nbspLunch Accounts</li>
            </div>
          <% end %>
          <%= link_to school_off_days_path(school) do %>
            <div class="dropdown-link">
              <i class="fa fa-calendar fa-fw"></i>
              <li>&nbspSchedules</li>
            </div>
          <% end %>
          <%= link_to school_path(school) do %>
            <div class="dropdown-link">
              <i class="fa fa-cog fa-fw"></i>
              <li>&nbspSchool Settings</li>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
      </div>
    </div>
  <% end %>
</header>
