<header>
  <div class="title">
    <%= link_to "Lunchpad", root_path %>
  </div>
    <ul>
    <% if user_signed_in?  %>
      <li><%= if current_user.has_role? :admin then link_to "School Admin", admins_path end %></li>
      <li>Logged in as <%= "#{current_user.first_name} #{current_user.last_name}" %></li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    <% end %>
    </ul>
</header>