<div class="sign-up-form">
  <div class="card">
    <h3>New to Lunchpad?</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.text_field :first_name, placeholder: 'First Name', autofocus: :true %>
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
      <%= f.text_field :email, placeholder: 'Email' %>
      <%= f.password_field :password, placeholder: 'Password' %>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
      <div class="sign-up-button">
        <%= f.submit 'Sign Up for Lunchpad' %>
      </div>
    <% end %>
  </div>
</div>