<div class="card">
  <div class="account_profile">
    <div class="account_profile_image"></div>
    <div class="account_profile_info">
      <h1><%= "#{account.name}" %></h1>
      <h2></h2><%= "#{account.school.name}" %></h2>
    </div>
  </div>

  <%= render partial: "lunch_coverage", locals: { order_week: @order_week, account: account } %>

  <div class="account_card_links">
    <ul>
      <% if account.orders.count > 0 %>
        <li><%= link_to "See all orders", account_orders_path(account) %></li>
      <% end %>

      <% if account.has_order_for(@start_date) %>
        <li><%= link_to "Edit order", edit_account_order_path(account_id: account, id: account.has_order_for(@start_date)) %></li>
      <% else %>
        <li><%= link_to "Place order", new_account_order_path(account) %></li>
      <% end %>

      <li><%= "Account balance: $#{account.balance_dollars}" %></li>
    </ul>
  </div>
</div>

