<h1>Lunch Pad</h1>

<% if user_signed_in? %>
  <li><%= link_to "Logged in as #{current_user.first_name}", "#" %></li>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

  <% if current_user.accounts.nil? %>
    <p>Please make an account for each <strike>eater</strike> person who will need lunch.</p>
    <%= link_to "Create an Account", new_account_path(@account) %>
  <% else %>
    <div class="panel">
    <ul><% current_user.accounts.each do |a|%>
        <p><%= link_to "Check #{a.name}'s lunchbox for #{Date.today}", query_account_available_menu_items_path(a, begin_date: "2014-11-17", end_date: "2014-11-18") %>
        <%= link_to "Update", edit_account_path(a) %> or
        <%= link_to "Disable", account_ownership_path(a), method: :delete %> this account.</p>
    <% end %></ul>
    </div>
    <div class="panel">
    <%= link_to "Add another account", new_account_path(@account) %>
    </div>
  <% end %>


  <% else %>
  <li><%= link_to "Log In", new_user_session_path %></li>
  <li><%= link_to "Sign Up", new_user_registration_path %></li>
<% end %>

