<% if user_signed_in?  %>
  <% if current_user.account_ownerships.count == 0 %>
    <p>Please make an account for each <strike>eater</strike> person who will need lunch.</p>
    <%= link_to "Create an Account", new_account_path(@account) %>
  <% else %>
    <h1>All Your Lunchbox</h1>
    <div class="panel">
    <ul><% current_user.accounts.each do |a|%>
      <div class="card">
        <h3><%= "#{a.name}'s Lunchbox" %></h3>
        <% if a.orders.count > 0 %>
          <p><%= link_to "See all ordered lunches", account_orders_path(a) %></p>
        <% end %>

        <% if a.has_order_for(@start_date) %>
          <p><%= link_to "Edit lunch order for next week", edit_account_order_path(account_id: a, id: a.has_order_for(@start_date)) %></p>
        <% else %>
          <p><%= link_to "Order lunch for next week", {controller: 'orders', action: 'new', date_range: {begin_date: @start_date.strftime("%Y-%m-%d"), end_date: @end_date.strftime("%Y-%m-%d")} }%></p>
        <% end %>

        <p><%= link_to "Edit account", edit_account_path(a) %></p>
      </div>
    <% end %>
    </ul>
    </div>
    <div class="panel">
      <div class="card">
        <%= link_to "Add another account", new_account_path(@account) %>
      </div>
    </div>
  <% end %>
<% else %>
  <h1>Welcome To Lunchpad!</h1>
<% end %>