
<div class="form_date_span">
  <h2>Week of <%= ordered_items[0].available_menu_item.date.strftime("%b %e") %></h2>
</div>

<div class="form_wrapper no-top-padding">
  <%= form_for [account, order] do |order_form| %>
    <%= hidden_field_tag :order_date, @order_date %>
    <%= order_form.fields_for :ordered_items, ordered_items do |menu_item| %>

        <% if @date != menu_item.object.date.to_date %>
          <h3><%= menu_item.object.date.strftime("%a %m/%-e") %></h3>
          <% @date = menu_item.object.date.to_date %>
        <% end %>

        <% item = ordered_items[menu_item.index].menu_item %>

        <div class="order-block">

          <% if account.school.has_off_day @date %>

            <h1><%= off_day.name %></h1>

          <% else %>

            <div class="order-quantity">
              <%= menu_item.number_field :quantity, min: 0, step: 1, class: 'order-quantity field' %>
            </div>

            <div class="order-quantity-select">
              <%= link_to raw('<i class="fa fa-minus-circle"></i>'), '', class: 'quantity_subtract', data: { item: menu_item.index.to_s }, alt: '[-]' %>
              <%= link_to raw('<i class="fa fa-plus-circle"></i>'), '', class: 'quantity_add', data: { item: menu_item.index.to_s }, alt: '[+]' %>
            </div>

            <div class="order-item">
              <%= ordered_items[menu_item.index].menu_item.name %> -
            </div>

            <div class="order-item-price">
              (<%= "$#{ordered_items[menu_item.index].menu_item.price_dollars}" %>)
            </div>


            <div id="<%= item.id %>" class="note-trigger inactive">

              <div class="show-notes <%= item.id %>">
                Show Details <i class="fa fa-chevron-down"></i>
              </div>

              <div class="hide-notes <%= item.id %>">
                Hide Details <i class="fa fa-chevron-up"></i>
              </div>

            </div>

            <div class="order-item-vendor">
              <%= "#{ordered_items[menu_item.index].menu_item.vendor.name}" %>
            </div>

              <%= menu_item.hidden_field :available_menu_item_id %>
              <%= menu_item.hidden_field :id %>
            </div>

            <div class="order-block order-item-notes <%= item.id %>">
              <strong>Notes:</strong> <%= "#{ordered_items[menu_item.index].menu_item.description}" %>
            </div>
         <% end %>
    <% end %>
</div>

<% if order.copyable_date %>
  <%= render partial: 'form_repeat_order', locals: { copyable_date: order.copyable_date } if (params[:action] == 'new') %>
<% end %>

<div class="form_wrapper">

      <div class="submit">
        <%= order_form.submit %>
      </div>

  <% end %>

</div>