<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">
      <%= render "schools/school_profile_card", school: @school %>

      <h1 class="card_title">Vendors</h1>
    </div>

    <div class="helpful_links">
      <ul>
        <li><%= link_to "Add a Vendor", new_vendor_path %></li>
      </ul>
    </div>

    <% if @vendors %>
      <% @vendors.each do |v| %>
        <div class="display-block">
          <ul>
            <li><%= link_to v.name, vendor_path(v) %></li>
            <li><%= v.email %></li>
            <li><%= v.phone_number %></li>

          </ul>
        </div>
      <% end %>
    <% else %>
      No vendors have been added.
    <% end %>


  </div>

</div>