


<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">
      <%= render "schools/school_profile_card", school: @school %>

      <h1 class="card_title"><%= @vendor.name %></h1>
    </div>

    <div class="helpful_links">
      <ul>
        <li><%= link_to new_vendor_menu_item_path(@vendor) do %>
            <i class="fa fa-plus fa-fw"></i>
            Add Menu Item
          <% end %>
        </li>

        <li><%= link_to vendors_path do %>
              <i class="fa fa-chevron-left fa-fw"></i>
              Back to All Vendors
            <% end %>
        </li>
      </ul>
    </div>

    <% if @menu_items.empty? %>
      <div class="display-block">
        <h2>This vendor has no menu items.</h2>
      </div>
    <% else %>
      <% @menu_items.each do |item| %>
        <div class="display-block">
          <div class="edit-link">
            <%= link_to edit_menu_item_path(item, { vendor_id: @vendor.id }) do %>
              <i class="fa fa-pencil"></i>
              Edit
            <% end %>
          </div>
          <h1><%= item.name %></h1>
          <ul>
            <li>
              <strong>Description:</strong>
              <p><%= item.description %></p>
            </li>
            <li>
              <strong>Price:</strong>
              <p>$<%= item.price_dollars %></p>
            </li>
            <li>
              <strong>Available Date Range:</strong>
              <p>
                <%= item.available_menu_items[0].date.strftime("%b %e, %Y") %> - <%= item.available_menu_items[-1].date.strftime("%b %e, %Y") %>
                - <%= link_to "Add/Remove Availability", menu_item_path(item) %>
              </p>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>

  </div>

</div>