<div class="calendar-row-simple calendar-header-<%= calendar[:style] %>">
  <% Date::DAYNAMES.each do |day| %>
    <div class="date-panel-simple"><%= day.first %></div>
  <% end %>
</div>

<% (calendar[:begin_date].beginning_of_week(:sunday)..calendar[:end_date].end_of_week - 1.day).each do |date| %>
  <% scheduled = calendar[:events].select{ |event| event.date.to_date == date } %>
  <% off_day = calendar[:events].map{ |i| i.date.to_date }.include?(date) %>

  <% if date.sunday? %>
    <div class="calendar-row">
  <% end %>

  <% if date.cwday > 5 || date < Date.today.next_week.monday && scheduled.empty? %>
    <div class="date-panel-simple date-disabled">
      <%= date.strftime("%-d") %>
    </div>
  <% elsif calendar[:owner].off_days.exists?(:date => date.beginning_of_day) %>
    <div class="date-panel-simple date-disabled disabled-holiday">
      <%= date.strftime("%-d") %>
    </div>
  <% else %>
    <% if scheduled.present? %>
      <div class="date-panel-simple date-uncovered" id="<%= "date_panel_#{date.to_s}" %>">
        <%= link_to date.strftime("%-d"), root_path %>
      </div>
    <% else %>
      <div class="date-panel-simple" id="<%= "date_panel_#{date.to_s}" %>">
        <%= link_to date.strftime("%-d"), root_path %>
      </div>
    <% end %>
  <% end %>

  <% if date.saturday? %>
    </div>
  <% end %>
<% end %>