<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">
      <%= render "schools/school_profile_card", school: @school %>
      <h1 class="card_title">Accounts</h1>
    </div>
      <% @accounts.each do |account| %>
        <div class="display-block">
          <div class="edit-link">
            <%= link_to 'Delete Account', account_path(account, {method: 'delete'}) %>
          </div>
          <h2><%= account.name %></h2>
          <h2><%= "#{@school.section_name}: #{account.section}" %></h2>
        <h1>Balance Due: $<%= account.balance / 100 %></h1>
          <br />
        <%= form_tag({controller: "accounts", action: "payment"}, method: "put") do %>
          <%= number_field nil, :payment, min: 0, step: 0.01, placeholder: "Payment Amount" %>
          <%= hidden_field_tag :account, account.id %>
          <%= submit_tag 'Apply Payment' %>
        <% end %>
        </div>
      <% end %>
  </div>
</div>
