<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">
      <%= render "schools/school_profile_card", school: @school %>

      <h1 class="card_title">Accounts</h1>
    </div>

    <div class="card_padding card-align-left">
      <% @accounts.each do |account| %>
        <h2><%= account.name %></h2>
        <h2>Owes: $<%= account.balance / 100 %></h2>
        <%= link_to 'Delete Account', account_path(account, {method: 'delete'}) %>
        <%= form_tag({controller: "accounts", action: "payment"}, method: "put") do %>
          <%= label_tag 'Balance Payments' %>
          <%= number_field :amount, :payment, min: 0, step: 0.01 %>
          <%= hidden_field_tag :account, account.id %>
          <%= submit_tag 'Apply Payment' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
