<h1><%= @school.name %>  <%# image_tag @school.logo.url(:thumb) %></h1>

  <div class="card">
    <h2>Get Order Report for Date</h2>
    <%= render 'order_filter' %>
    <br />
    <h2><%= link_to 'Manage Vendors & Menus', vendors_path(@school) %></h2>
    <br />
    <h2><%= link_to 'Manage Lunch Accounts', accounts_school_path(@school) %></h2>
    <br />
    <h2><%= link_to 'Manage School Admin Access', admins_school_path(@school) %></h2>

    <div id="datepicker"></div>

  </div>

<div class="school-profile">
<h3><%= link_to "Edit School Profile", edit_school_path %></h3>
  <ul>
    <li><%= @school.description %></li>
    <li><%= @school.motto %></li>
    <li><%= @school.address %></li>
    <li><%= @school.phone %></li>
  </ul>
<%# image_tag @school.logo.url(:medium) %>
</div>
