<div class="flex-boxes card-wrapper">
  <div class="flex-box card">
    <h1>Your Wallet: $<%= current_user.wallet / 100 %></h1>
    <div class="wallet-trigger">
      <h2>Fill Wallet</h2>
      <p>(click to expand)</p>
    </div>
    <div class="wallet display-block">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="flex-boxes card-wrapper">
  <div class="flex-box card">
    <div id="payment-trigger">
      <h1>Apply Payments to Your Lunchboxes</h1>
      <p>(click to expand)</p>
    </div>
    <% @accounts.each do |account| %>
      <div class="payment-drop">
      <div class="display-block">
        <div class="payment-field">
          <%= form_tag({controller: "charges", action: "apply"}, method: "put") do %>
            <ul>
              <li><%= number_field nil, :payment, min: 0, step: 0.01, placeholder: "Payment Amount" %></li>
              <li><%= submit_tag 'Apply Payment' %></li>
            </ul>
            <%= hidden_field_tag :account, account.id %>
        <% end %>
        </div>
        <%= render partial: "accounts/account_profile_card" , locals: {account: account} %><br />
        <p class="balance">Balance Owed: $<%= account.balance / 100 %></p>
      </div>
      </div>
    <% end %>
  </div>
</div>

<div class="flex-boxes card-wrapper">
  <div class="flex-box card">
    <h1>Payment History</h1>
  </div>
</div>