<!DOCTYPE html>
<html>
<head>
  <title>Lunchpad</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://js.stripe.com/v2/">
    Stripe.setPublishableKey(<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>)
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/nav' %>
<%= render 'shared/flash' %>

<%= yield %>

</body>
</html>
