<div class="flex-box card">
  <div class="flex-boxes card-row card-align-left">
    <div class="card-column-left">
      <div class="page_header">
        <%= render partial: "accounts/account_profile_card" , locals: {account: account} %>
      </div>

      <ul>
        <li><%= account.balance >= 0 ? 'Amount owed' : 'Account Credit:' %> $<%= account.balance_dollars %></li>
        <li><a>Make Payment</a></li>

        <% if account.orders.count > 0 %>
          <li><%= link_to "See all orders", account_orders_path(account) %></li>
        <% end %>
        <li><%= link_to "Share Lunchbox", new_account_account_ownership_path(account) %></li>
        <li><a>Lunchbox Owners: <% account.account_ownerships.each do |n| %>
                                  <%= n.first_name %>
                                  <% end %> </a></li>
      </ul>
    </div>

    <div class="card-column-right card_margin">
      <%= render partial: 'shared/calendar', locals: { calendar: calendars[account.id] } %>
    </div>
  </div>
</div>