<div class="calendar-coverage-<%= calendar[:style] %>" id="<%= dom_id(current_user, :calendar_all) %>">
  <div class="calendar-header-month-<%= calendar[:style] %>">
    <div class="calendar-title-<%= calendar[:style] %>">
      <%= calendar_title(calendar[:begin_date],calendar[:end_date]) %>
    </div>
  </div>
</div>

<div class="card-row card_margin">
  <% current_user.accounts.each do |account| %>
    <div class="account_profile_image_small" style="background-color: rgba(<%= colorize(account.name).join(",") %>,1)">
      <%= account.name.first %></div> <%= account.name %> (<%= account.school.name %>)
  <% end %>
</div>

<div class="calendar-table">
  <div class="calendar-header-<%= calendar[:style] %>">
    <% Date::DAYNAMES.each do |day| %>
      <div class="calendar-header-panel"><%= day[0..2] %></div>
    <% end %>
  </div>
  <% (calendar[:begin_date].beginning_of_week(:sunday)..calendar[:end_date].end_of_week - 1.day).each do |date| %>
    <% date.day == 1 ? format = '%b %-d' : format = '%-d' %>

    <% if date.sunday? %>
      <div class="calendar-row-detail">
    <% end %>

    <% if (date.cwday > 5 || date < Date.today.next_week.monday) && calendar[:events].select{ |event| event.date.to_date == date }.empty? %>
      <div class="date-panel-detail">
        <%= date.strftime(format) %>
      </div>
    <% elsif current_user.accounts[0].school.off_days.include?(date) %>
      <div class="date-panel-detail">
        <%= date.strftime(format) %>
      </div>
    <% else %>
      <% scheduled = calendar[:events].select{ |event| event.date.to_date == date } %>
      <% if scheduled.present? %>
        <div class="date-panel-detail" id="<%= "date_panel_#{date.to_s}" %>">
          <strong>
            <%= date.strftime(format) %>
          </strong>
          <ul>
            <% scheduled.each do |item| %>
              <li>
                <div class="account_profile_image_small" style="background-color: rgba(<%= colorize(item.account.name).join(",") %>,1)">
                  <%= link_to item.account.name.first, edit_account_order_path(account_id: item.account, id: item.order) %>
                </div>
                <%= truncate(item.menu_item.name, length: 10) %> <%= link_to 'x' + item.quantity.to_s, edit_account_order_path(account_id: item.account, id: item.order) %>
              </li>
            <% end %>

          </ul>
        </div>
      <% else %>
        <div class="date-panel-detail" id="<%= "date_panel_#{date.to_s}" %>">
          <strong>
            <%= date.strftime(format) %>
            <%= link_to raw('<i class="fa fa-plus"></i>'), new_account_order_path(calendar[:owner], order_date: date.to_s) %>
          </strong>
        </div>
      <% end %>
    <% end %>

    <% if date.saturday? %>
      </div>
    <% end %>
  <% end %>
</div>

<% if calendar[:events].empty? %>
  <div class="form_date_span">
    <h2>No items have been ordered for this date range.</h2>
  </div>
<% else %>
  <%= render partial: 'orders/confirmation_all', locals: { ordered_items: calendar[:events] } %>
<% end %>