<div class="calendar-table">
  <div class="calendar-header-<%= calendar[:style] %>">
    <% Date::DAYNAMES.each do |day| %>
      <div class="calendar-header-panel"><%= day[0..2] %></div>
    <% end %>
  </div>

  <%= render partial: "accounts/account_profile_card" , collection: current_user.accounts.flatten, as: :account %>

  <% (calendar[:begin_date].beginning_of_week(:sunday)..calendar[:end_date].end_of_week - 1.day).each do |date| %>
    <% date.day == 1 ? format = '%b %-d' : format = '%-d' %>

    <% if date.sunday? %>
      <div class="calendar-row-detail">
    <% end %>

    <% if (date.cwday > 5 || date < Date.today.next_week.monday) && calendar[:events].select{ |event| event.date.to_date == date }.empty? %>
      <div class="date-panel-detail">
        <%= date.strftime(format) %>
      </div>
    <% elsif calendar[:owner].school.off_days.map{ |i| i.date.to_date }.include?(date) %>
      <div class="date-panel-detail">
        <%= date.strftime(format) %>
      </div>
    <% else %>
      <% scheduled = calendar[:events].select{ |event| event.date.to_date == date } %>
      <% if scheduled.present? %>
        <div class="date-panel-detail" id="<%= "date_panel_#{date.to_s}" %>">
          <strong>
            <%= date.strftime(format) %>
            <%= link_to raw('<i class="fa fa-pencil-square-o"></i>'), edit_account_order_path(account_id: calendar[:owner], id: scheduled[0].order) %>
          </strong>
          <ul>
            <% scheduled.each do |item| %>
              <li>
                <div class="account_profile_image_small" style="background-color: rgba(<%= colorize(item.account.name).join(",") %>,1)">
                  <%= item.account.name.first %>
                </div> <%= item.menu_item.name %> (x<%= item.quantity %>)</li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div class="date-panel-detail" id="<%= "date_panel_#{date.to_s}" %>">
          <strong>
            <%= date.strftime(format) %>
            <%= link_to raw('<i class="fa fa-plus"></i>'), new_account_order_path(calendar[:owner], order_date: date.to_s) %>
          </strong>
        </div>
      <% end %>
    <% end %>

    <% if date.saturday? %>
      </div>
    <% end %>
  <% end %>
</div>

<% if calendar[:events].empty? %>
  <div class="form_date_span">
    <h2>No items have been ordered for this date range.</h2>
  </div>
<% else %>
  <%= render partial: 'orders/confirmation', locals: { ordered_items: calendar[:events] } %>
<% end %>