<h1>Edit Account for <%= @account.name %></h1>

<div class="card">
  <%= form_for @account do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_area :name %>
    </div>

    <div class="field">
      <%= f.label :section %>
      <%= f.text_field :section %>
    </div>

    <div class="actions">
      <%= button_tag "Update Account", :class => "form-button-lg" %>
    </div>

  <% end %>
</div>