<h1>Add a Lunch Account</h1>
<% if user_signed_in? %>
  <div class="card">

    <%= form_for @account do |f| %>

      <%= f.collection_select :school_id, School.all, :id, :name %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder:'First and Last Name' %>
      </div>

      <div class="field">
        <%= f.label :grade %>
        <%= f.collection_select :section, Account.section.all %>
      </div>

      <div class="actions">
        <%= button_tag "Create Account", :class => "form-button-lg" %>
      </div>

    <% end %>

  </div>

<% else %>

  <p><%= link_to 'Log in to create a new account.', new_user_session_path %></p>

<% end %>
