
<div class="flex-boxes card-wrapper">
  <div class="flex-box card">
    <% if @school %>

      <%= form_for @account do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder:'First and Last Name' %>
        </div>

        <div class="field">
          <%= f.label @school.section_name %>
          <%= f.select :section, @section_titles %>
        </div>

        <%= f.hidden_field :school_id, value: @school.id %>

        <div class="actions">
          <%= button_tag "Create Lunchbox", :class => "form-button-lg" %>
        </div>
      <% end %>

  <% else %>
    <%= form_tag({controller: "accounts", action: "new"}, method: "get") do %>
        <h2>Select your school from the list.</h2>
      <%= select :school, nil, options_for_select(@school_names) %>
      <%= submit_tag 'Select School' %>
    <% end %>
  <% end %>
  </div>
</div>
